.hero-slide {
  transform: translateY(50px);
  opacity: 0;
}

.hero-slide.active {
  transform: translateY(0);
  opacity: 0.9;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  animation: slideUp 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0 !important;
}


#cookieConsent {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#cookieConsent button {
  background-color: #4cafaf;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}